<%- include ('partials/header') %>
<div class="w-full min-h-screen bg-zinc-900 text-white py-5">
  <div class="w-full px-4 flex items-center justify-between">
    <img class="w-1/4" src="/images/logo.png" alt="">
    <div class="icons -mt-2 flex gap-5 items-center">
      <i class="text-[1.4rem] ri-heart-3-line"></i>
      <i class="text-[1.4rem] ri-messenger-line"></i>
    </div>
  </div>
  <div class="story px-3 flex gap-3 overflow-auto mt-5">
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1570158268183-d296b2892211?q=80&w=3456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1570158268183-d296b2892211?q=80&w=3456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?q=80&w=2550&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
    <div class="circle flex-shrink-0">
      <div
        class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
        <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
          <img class="w-full h-full object-cover"
            src="https://images.unsplash.com/photo-1570158268183-d296b2892211?q=80&w=3456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </div>
      </div>
    </div>
  </div>



  <div class="posts mb-20">



    <% post.reverse().forEach(function(posts) { %>



    <div class="post mt-10 w-full min-h-[50vh]">
      <div class="title px-4 flex items-center gap-2">
        <div class="w-[8vw] h-[8vw] bg-sky-100 rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="images/uploads/<%= posts.user.profileImage %>">
        </div>
        <a class="text-sm" href="/usersprofile/<%= posts.user._id %>">
          <%= posts.user.username %>
        </a>


        <% if(JSON.parse(JSON.stringify(user._id)) !==  JSON.parse(JSON.stringify(posts.user._id))){ %>

        <div class="fllowbtn text-xs opacity-30 ml-1">
          <% if(user?.following && !user?.following.includes(String(posts.user._id))) { %>
          <a href="/followingUser/<%= posts.user._id %>"
            class="bg-zinc-800 hover:bg-black-700 hover:text-white-700 hover:text-opacity-500 text-white font-bold py-2 px-2 rounded">Follow</a>
          <% } else { %>
          <a href="/unfollowingUser/<%= posts.user._id %>" class="text-blue-200 text-xsm">Following</a>
          <% } %>
        </div>

        <% } %>

        <h6 class="text-xs opacity-30 ml-auto">
          <!-- <%= new Date(posts.date).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) %> -->
          <%= new Date(posts.date).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata' }) %>
        </h6>

        <% if(JSON.parse(JSON.stringify(user._id))==JSON.parse(JSON.stringify(posts.user._id))){ %>

        <div class="relative ml-auto">
          <!-- Trigger button for the dropdown -->
          <div id="<%= 'postOption_' + posts._id %>" class="editPost">
            <i id="<%= 'menuLine_' + posts._id %>" class="text-[1.4rem] ri-menu-line"></i>
          </div>
          <!-- Dropdown menu -->
          <div id="<%= 'dropdown_' + posts._id %>"
            class="absolute hidden mt-2  bg-zinc-900  border-black-300 rounded shadow-md right-0 w-20">
            <a href="/editPost/<%= posts._id %>"
              class="block px-4 py-2 text-white-800 hover:bg-blue-500  hover:text-white">Edit</a>
            <a href="/deletePost/<%= posts._id %>"
              class="block px-4 py-2 text-white-900 hover:bg-red-500 hover:text-white">Delete</a>
          </div>
        </div>
        <% } %>
      </div>

      <div class="post-container" data-post-id="<%= posts._id %>">
        <div class="w-full h-96 mt-4 bg-sky-100 overflow-hidden">
          <img class="doubleClick" data-post-id="<%= posts._id %>" class="w-full h-full object-cover"
            src="images/uploads/<%= posts.picture %>">
        </div>
        <div class="options w-full px-4 flex justify-between items-center text-[1.4rem]">
          <div class="flex gap-3 mt-2">
            <a class="likePost" href="/like/post/<%= posts._id %>" data-post-id="<%= posts._id %>">
              <% if(posts.likes.indexOf(user._id) !==-1){ %>
              <i class="ri-heart-3-fill text-red-600"></i>
              <% }else{ %>
              <i class="ri-heart-3-line"></i>
              <% } %>
            </a>

            <i class="ri-chat-3-line comments" id="comments"></i>
            <i class="ri-share-circle-line"></i>
          </div>
          <i class="ri-bookmark-line"></i>
        </div>


      </div>


      <h3 class="px-4 mt-2 text-sm leading-none tracking-tight">
        <%= posts.likes.length %> likes
      </h3>
      <h2 class="text-white font-light text-sm mt-2"><span class="font-semibold pl-4 pr-2">
          <%= posts.user.username %>
        </span>
        <%= posts.caption %>
      </h2>


      <form action="comment/<%= posts._id %>" class="comment-form" data-post-id="<%= posts._id %>" method="post" hidden>
        <input type="text" name="comment" class="m-3 p-2 bg-zinc-500 rounded form-control" />
        <button>send</button>
      </form>


      <% posts.comments.reverse().forEach((cmt)=>{ 
     
        %>
  <div class="comment-container mt-3 mb-2 title px-4 flex items-center gap-2" data-post-id="<%= posts._id %>">
        <div class="w-[5vw] h-[5vw] bg-sky-100 rounded-full overflow-hidden">
          
          <img class="w-full h-full object-cover" src="images/uploads/<%= cmt.userProfile %>">
        </div>
        <small><%= cmt.comment %></small>  

        <% if(JSON.parse(JSON.stringify(user._id))==JSON.parse(JSON.stringify(cmt.user._id))){ %>
          <a href="/deleteComment/<%= posts._id %>/<%= cmt._id %>"><i class="ri-delete-bin-7-line small"></i></a>
<% } %>

      </div>
      <%  }) %>
    </div>
    <% }); %>
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.addEventListener('click', function (event) {
        var postOption = event.target.closest('.editPost');
        if (postOption) {
          var postId = postOption.id.split('_')[1];
          var dropdown = document.getElementById('dropdown_' + postId);
          if (dropdown) {
            dropdown.classList.toggle('hidden');
          }
        } else {
          var allDropdowns = document.querySelectorAll('.absolute');
          allDropdowns.forEach(function (dropdown) {
            dropdown.classList.add('hidden');
          });
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function (event) {
      let dblClks = document.querySelectorAll('.doubleClick');

      dblClks.forEach(function (dblClk) {
        dblClk.addEventListener('dblclick', function () {
          let postId = dblClk.getAttribute('data-post-id');
          console.log(postId, "postID");
          if (postId) {
            let container = dblClk.closest('.post-container');
            if (container) {
              let lkpst = container.querySelector('.likePost[data-post-id="' + postId + '"]');
              if (lkpst) {
                lkpst.click();
              } else {
                console.error("Element with class 'likePost' and data-post-id='" + postId + "' not found");
              }
            } else {
              console.error("Parent container not found for 'doubleClick' element");
            }
          } else {
            console.error("Post ID not found on 'doubleClick' element");
          }
        });
      });
    });
  </script>


  <script>
    let commentsIcons = document.querySelectorAll('.comments');
    commentsIcons.forEach(function (icon) {
      icon.addEventListener('click', function () {
        let postId = icon.closest('.post-container').getAttribute('data-post-id');
        let commentForm = document.querySelector('.comment-form[data-post-id="' + postId + '"]');
        if (commentForm) {
          commentForm.style.display = (commentForm.style.display === 'none' || commentForm.style.display ===
            '') ? 'block' : 'none';
        }
      });
    });
  </script>




</div>
<%- include ('partials/footer') %>